@inherits UmbracoViewPage
@{
    var preferences = Model.GetPreferences();
    if (preferences is null) return;
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="author" content="" />
<title>@preferences.NomDuSite</title>