@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Accueil>
@{
	Layout = "master.cshtml";
}
<div class="container">
	<div class="row">
		<div class="col">

			<h1 class="h1">@Model.Name</h1>

			@Html.GetBlockListHtml(Model.Contenu)
		</div>
	</div>
</div>