@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var content = (ContentModels.Li)Model.Content;
}


// Output the value of field with alias 'heading' from the Element Type selected as Content section
<h1>@content.Navigation.ti</h1>
